@font-face {
  font-family: 'Now';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/now-light-webfont.woff) format("woff"),
        url(../fonts/now-light-webfont.woff2) format("woff2"),
}

@font-face {
  font-family: 'Now';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/now-regular-webfont.woff) format("woff"),
        url(../fonts/now-regular-webfont.woff2) format("woff2"),
}

@font-face {
  font-family: 'Now';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/now-medium-webfont.woff) format("woff"),
        url(../fonts/now-medium-webfont.woff2) format("woff2"),
}

@font-face {
  font-family: 'Now';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/now-black-webfont.woff) format("woff"),
        url(../fonts/now-black-webfont.woff2) format("woff2"),
}

@font-face {
  font-family: 'Newyork';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/newyork_personal_use-webfont.woff) format("woff"),
        url(../fonts/newyork_personal_use-webfont.woff2) format("woff2"),
}
